
.bot-bg {padding:10px 0;border-bottom: 1px solid #dcdcdc;}

.content-wrap {}
.content-wrap .content-bd {margin:10px;}
.content-wrap .content-bd .con-text {font-size:1.125em;padding: 0 9px;color: #393939;line-height: 30px; word-wrap: break-word;margin-bottom: 5px;text-align: justify;}
.content-wrap .content-bd .con-pic {min-height: 120px;line-height: 120px;text-align: center;width: 100%;overflow: hidden;}
.content-wrap .content-bd .con-pic img {max-width: 100%;max-height: 100%;margin: 0 auto;display: inline-block;vertical-align: middle;}

.goods-price {font-weight: bold;font-family: Arial, sans-serif;}
.content-wrap .content-bd .goods-price {color:#cf2a27;!important;}

.goods-unit {}
.goods-unit dl {}
.goods-unit dl dt, .goods-unit dl dd {display: inline-block;vertical-align: middle;}
.goods-unit dl dd {}
.goods-unit dl dd span, .goods-unit dl dd input {float: left;width: 38px;height: 38px;line-height: 38px;font-size:18px;color:#333;text-align: center;background-color: #eee;font-weight: bold;font-family: Arial, sans-serif;}
.goods-unit dl dd span.action-sub {border: 1px solid #ddd;}
.goods-unit dl dd span.action-sub.min-num {color: #999;}
.goods-unit dl dd input.action-num {-webkit-appearance: none;
    border-radius: 0;
    width: 40px;
    height: 38px;
    line-height: normal;
    border: 1px solid #ddd;
    background: #fff;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    background: #fff;
    text-align: center;}
.goods-unit dl dd span.action-add {border: 1px solid #ddd;}

/*图片滑动CSS*/
.swipe {
    overflow:hidden;
    height:160px;
    position:relative;
}
.swipe-wrap {
    overflow:hidden;
    position:relative;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    z-index:1;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position:relative;
}
.swipe_pic {
    position:relative;
    overflow:hidden;
    width:100%;
    height:160px;
    background-color:#efefef;
    background-image:url(../images/huabao-ico.png);
    background-position:center center;
    background-size:60px auto;
    background-repeat:no-repeat;
}
.swipe_pic img {
    width:100%;
    min-height:160px;
}
.swipe_h3 {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding:0 14px;
    font-size:14px;
    font-weight:normal;
    background:rgba(0,0,0,0.6);
    height:26px;
    line-height:26px;
    color:#fff;
    text-shadow:1px 1px 0 #000;
}
.swipe_num {
    position:absolute;
    right:0;
    bottom:10px;
    z-index:100
}
.swipe_num li {
    float:left;
    width:4px;
    height:4px;
    border-radius: 50%;
    font-size:0;
    text-indent:999em;
    border:1px solid rgba(0,0,0,0.6);
    background:#a9a89d;
    margin:0 5px;
    overflow:hidden
}
.swipe_num li.active {
    border: 1px solid #0282de;
    background: #0090f7;
    box-shadow: 0 0 4px #0282de;
}
@media only screen and (min-width:321px) and (orientation:landscape) {
    .swipe_pic img {
        margin-top:-40px;
        min-height:200px
    }
}