.news-text {text-indent: 2em;}
.content-wrap {}
.content-wrap .content-bd {margin:10px;}

.content-wrap .content-bd h3 {text-align: center;font-size: 1.2em;padding:10px 0;}

table {font-size:14px;width: 100%;}
thead {background: #d9d9d8;}
th,td {padding:2px;border:1px solid #0a0a09;color: #666;}
th {color:#333;}

.fin-type {line-height: 20px;}
.fin-type .type-title {color:#333;font-size:14px;font-weight: bold;text-align: center;}
.fin-type .type-desc {color:#333;font-size:14px;text-align: center;}